.MyQuiz {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  flex-grow: 1;
  width: 100%;
  background: rgb(11, 98, 30);
  background: linear-gradient(
    90deg,
    rgba(11, 98, 30, 1) 0%,
    rgba(16, 176, 35, 1) 24%,
    rgba(7, 222, 68, 1) 100%
  );
}

.MyQuiz h1 {
  color: #fff;
  text-align: center;
}

.MyQuiz h2 {
  color: #fff;
  text-align: center;
}

.MyQuiz ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.MyQuiz li {
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border: 2px solid #fff;
  border-radius: 5px;
}

.MyQuiz li p {
  padding-left: 15px;
  padding-right: 15px;
  color: #fff;
  font-size: 19px;
  text-align: center;
  max-width: 600px;
}

.MyQuiz li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.4s;
  display: inline-block;
}

.MyQuiz li a:hover {
  color: #363f54;
}

@media (max-width: 390px) {
  .MyQuiz li p {
    display: block;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 20px;
  }
  .MyQuiz li p button {
    margin-bottom: 10px;
    margin-top: 10px;
  }
}
